.container {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;

  @media #{$notebook} {
    max-width: 992px;
  }

  @media #{$tablet} {
    max-width: 768px;
  }

  @media #{$mobile} {
    max-width: 576px;
  }
}