.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  width: 370px;
  height: 50px;
  padding: 17px 16px;

  border: 1px solid #DDDAE7;
  border-radius: 4px;

  font-size: 16px;
  color: #918D9A;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form__label {
  margin-bottom: 10px;
  font-family: Whitney, sans-serif;

  font-size: 18px;
  color: #474351;
}